@{
    ViewData["Title"] = "Contact";
}



<div class="row pd">
    <div class="col-md-8 concol">
        <h2>
            Contact me
        </h2>

        <h3><img class="text-left" src="~/images/facebook.png"/> Facebook: <a href="https://www.facebook.com/jovana.pantic.777">Jovana Pantic</a> </h3> <br />
        <h3><img class="text-left" src="~/images/linkedin.png"/> LinkedIn: <a href="https://www.linkedin.com/in/jovana-pantic-73462a181/">Jovana Pantic</a> </h3> <br />
        <h3><img class="text-left" src="~/images/phone.png" /> Phone: +381669392935 </h3> 
        <h3><img class="text-left" src="~/images/mail.png" /> E-mail: p.jovanica@hotmail.com, panticdevelopment@gmail.com</h3>

</div>

</div>
