@{
    ViewData["Title"] = "Home Page";
}


<div class="pd">
    <div class="jumbotron bck text-light">
        <div class="container">
            <div class="row">



                <div class="col-md-4 text-left">
                    <img src="~/images/me.jpg" class="text-left img-thumbnail " width="230" height="300" />
                </div>

                <div class=" col-md-8">
                    <h1> Jovana Pantic</h1>
                    <h3> Junior C# / ASP.NET Developer</h3>
                    <h4>
                        Certified developer for Microsoft Technologies
                    </h4>
                    <p class="pd">
                         Hello, this is my representative site. Here you will find information about me, about my work, experience and skills.
                    </p>
                </div>
            </div>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="panel panel-default col-md-5">
            <div class="panel-heading navcol"> <h2 class="text-light"><img class="text-right" src="~/images/education.png" /> Education</h2></div>
            <div class="panel-body text-primary">
                <h4>
                    Palanacka gimnazija<br />
                    Socio-Linguistics course<br />
                    2013-2017
                </h4>
                 <h4>
                    ITAcademy<br />
                    Microsoft Development<br />
                    2017-2018
                    
                </h4>
                    
          </div>
        </div>
        <div class="panel panel-default col-md-offset-2 col-md-5">
            <div class="panel-heading navcol"><h2 class="text-light"><img class="text-right" src="~/images/personal.png" /> Personal info</h2></div>
            <div class="panel-body text-primary">
                <h4>
                  Birth date: 18.01.1998<br /> <br />
                  Adress: Smederevska Palanka, Serbia <br /><br />
                  Email: p.jovanica@hotmail.com <br /><br />
                  Number: <a href="/Home/Contact">See contact page</a>
                    
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-md-5">
            <div class="panel-heading navcol"> <h2 class="text-light"><img class="text-right" src="~/images/code.png" /> Experience </h2></div>
            <div class="panel-body text-primary">
                <h3>
                  Softmetrix
                </h3>
                <h4>
                    Dec 2018 - Feb 2019 <br /><br />
                    Internship of two months at JavaScript Developer position. Expanding the existing knowledge, acquiring new skills and technologies, working in the team.
                </h4>
            </div>
        </div>
        <div class="panel panel-default col-md-offset-2 col-md-5">
            <div class="panel-heading navcol"> <h2 class="text-light"><img class="text-light" src="~/images/lang.png"/> Languages </h2> </div>
            <div class="panel-body text-primary">
                <h3>English</h3>
                <h4>
                    Reading, Writing, Understanding - Advanced<br />

                    Communication- Upper intermediate
                </h4>
                 <h3>French</h3>
                 <h4>Basic knowledge</h4>
            </div>
        </div>
    </div>

  </div>
<div class="row pd">
    <div class="col-md-offset-4 col-md-4 text-center">
        <a class="btn btn-lg btn-primary" href="~/cv/JovanaPanticCV.pdf" download="jpcv">DOWNLOAD CV</a>
    </div>
</div>