@{
    ViewData["Title"] = "Skills";
}

<div class="pd ">
    <div class="row">

        <div class="col-md-offset-4 col-md-4 bck">
            <h2 class="text-light text-center">
                PROGRAMMING LANGUAGES AND TECHNOLOGIES
            </h2>
        </div>
    </div>
</div>

<div class="container pd">
    <div class="row">
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/csharp.png" /> C#</h2>
            <p>
                Using C# language and .NET framework to bulid and create Web and Desktop application.
            </p>

        </div>
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/node.png" /> Node.js/ExpressJS</h2><br />
            <p>
                Server technology and framework ExpressJs to bulid simple server, run it, routing URLs,
                server rendering pages.
            </p>
        </div>
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/angular.png" /> Angular6</h2>
            <p>
                Basic knowledge of syntax, open and close server at terminal. <br />

            </p>
        </div>
    </div>
    <div class="row pd">
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/js.png" /> JavaScript</h2>
            <p>
                Data types, variables, functions, and more... manipulating with DOM, objects.
            </p>
        </div>
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/css.png" /> CSS</h2>
            <p>
                Changing style, color and position of HTML elements, adapting aplications for different screens.
            </p>
        </div>
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/bootstrap.png" /> Bootstrap 3 4</h2>
            <p>
                Using Bootstrap 4 and Bootstrap. I use grid system, bootstrap components and classes.
            </p>
        </div>
    </div>
    <div class="row pd">
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/html.png" /> HTML</h2>
            <p>
                Creating HTML structure of the web page, inserting links, videos and pictures, working with HTML5 semantic elements.
            </p>
        </div>
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/jquery.png" /> jQuery</h2>
            <p>
                Manipulating with DOM, CSS, working with events, effects and animations, using AJAX to send/recive data from server.
            </p>
        </div>
        <div class="col-md-4 navcol">
            <h2><img class="text-left" src="~/images/git.png" /> Git </h2> <br />
            <p>
                Working with Git and using SourceTree app for tracking code and work in team.
            </p>
        </div>
    </div>

    <div class="row pd">
        <div class="col-md-6 navcol">
            <h2><img class="text-left" src="~/images/mssql.png" /> <img src="~/images/mysql.png" /> MS SQL/ MySql</h2>
            <p>
                Writing query, create, update/delete databases and tables, make join with multiple tables with foreign keys, create diagrams,...
            </p>
        </div>
        </div>
        <div class="row pd">
            <div class="col-md-6 navcol">
                <h2> Other </h2>
                <p>
                    Using DataTables for tables with search, pagination.AmCharts to create charts(pie, linear, 3D).
                    EJS templates for data from database.
                </p>
            </div>
        </div>
    
</div>

<div class="row pd">
    <div class="col-md-offset-4 col-md-4 text-center">
        <a class="btn btn-lg btn-primary" href="~/cv/JovanaPanticCV.pdf" download="jpcv">DOWNLOAD CV</a>
    </div>
</div>
 